*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  font-size: 1.55rem;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: rgb(226, 236, 236);
}

.app{
  background-color: #fff;
  width: 55rem;
  padding: 2rem;
  transition: .5s ease-in-out;
}

.app:hover{
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top span{
  font-size: 1.25rem;
  font-weight: 450;
}

.top code{
  font-size: 1.1rem;
}

.main{
  display: grid;
  grid-template-columns: .65fr 1fr;
  place-items: center;
  gap: 20px;
  margin: 1.55rem 0;
  font-size: 1.25rem;
}

.main section:last-child{
  background-color: rgb(216, 215, 215);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 25rem;
}

.main section:last-child .no-img{
  width: 25%;
  cursor: pointer;
}
.main section:last-child img{
  width: 100%;
  cursor: pointer;
}
.main section:last-child #editThis{
  width: 100%;
  cursor: pointer;
}

.main section:first-child{
  border: 2px solid rgb(216, 215, 215);
  padding: 1.25rem;
  width: 100%;
}

.btns{
  display: grid;
  margin-top: 1rem;
  gap: 5px;
  font-size: 1rem;
  grid-template-columns: 1fr 1fr;
}

.btn-box{
  padding: 1rem;
  cursor: pointer;
  border: 2px solid rgb(216, 215, 215);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: .25s ease;
}
.btn-box-mini{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid rgb(216, 215, 215);
  text-align: center;
  transition: .25s ease;
}

.btn-box:hover{
  color: #fff;
  border: none;
  background-color: rgb(23, 39, 255);
}

.active{
  color: #fff;
  border: none;
  background-color: rgb(23, 39, 255);
}

.btn-box-mini:hover{
  color: #fff;
  border: none;
  background-color: rgb(23, 39, 255);
}

.btn-box-mini:active{
  transform: scale(95%);
}

.btn-box:active{
  transform: scale(95%);
}

.slider{
  margin-top: 2rem;
}

input[type=range]{
  width: 100%;
  border: none;
}

.info{
  display: flex;
  justify-content: space-between;
}

.btn-mini{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.btn-mini img{
  width: 15px;
}
.btn-box-mini:hover img{
  filter: invert();
}
.btn-box-mini:first-child img{
  transform: rotate(-90deg);
}
.btn-box-mini:nth-child(2) img{
  transform: scaleX(-1) rotate(-90deg);
}

.footer{
  display: flex;
  justify-content: space-between;
}

.footer section{
  display: flex;
  font-size: 1rem;
  height: 3.7em;
  gap: 10px;
}


@media screen and (max-width: 700px) {
  .main{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin: 1.55rem 0;
    font-size: 1rem;
  }
  .app{
    background-color: #fff;
    width: 98vw;
    min-height: 95vh;
    padding: 1rem;
    transition: .5s ease-in-out;
  }
  .main section:last-child{
    background-color: rgb(216, 215, 215);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 18rem;
  }
  .btns{
    display: grid;
    margin-top: 1rem;
    gap: 5px;
    font-size: .95rem;
    grid-template-columns: 1fr 1fr;
  }  
  .main section:last-child #editThis{
    width: 100%;
    cursor: pointer;
    transform: scaleX(-1);
  }
  .top span{
    font-size: 1rem;
    font-weight: 450;
  }
  
  .top code{
    font-size: .75rem;
  }
  body{
    height: fit-content;
  }
}